[2020-01-01 00:03] dennisguse opened #1 "Add LICENSE.md"
... as well as a select a license ;)

[2020-01-02 15:51] pstorch commented on #1
I'm already on it ;)

[2020-01-02 16:53] #1 closed

[2020-01-02 18:57] dennisguse opened #3 "Location access needed?"
As the dashboard only shows data provided by OpenTracks, location access is not necessary, or?
Even if the user wants to re-center the map, OSMDashboard could just jump to last provided point.

[2020-01-02 18:59] pstorch commented on #3
It's already removed ;)

[2020-01-02 19:01] dennisguse commented on #3
Faster than the speed of light...

[2020-01-02 19:11] pstorch opened #4 "Show track statistics"
A split the viewport by 80/20 to show some track statistics.
In portrait mode the statistic should show up below the map, in landscape mode the statistics could be shown as a column to the left of the map.

At the moment there is some logic in the main app for unit conversions, display formats and settings (e.g. use metric system, use pace or speed, ...). Should the OSM Dashboard duplicate this lo

[2020-01-02 19:15] dennisguse opened #5 "ProGuard needed?"
Is code obfuscation necessary?
If a stack trace is provided, it makes understanding it kind of awful.

[2020-01-02 19:16] dennisguse commented on #3
Permission `ACCESS_FINE_LOCATION` is still in place...

[2020-01-02 19:23] dennisguse commented on #3
Forget it - I was too blind to do a git pull on the correct branch...

[2020-01-02 19:23] #3 closed

[2020-01-02 20:05] dennisguse commented on #4
Good question (and also an ugly one).
About metric/imperial: OpenTracks stores data as metric and also transfers it as metric.
For the time being, I would stick with presenting metric values only (and later copy the code if necessary).
I removed this functionality from OpenTracks some month ago (the implementation heavily pollutes the code base).

About pace/speed: there was already a request to s

[2020-01-02 21:50] pstorch commented on #5
Good question. At the moment it is standard and I haven't seen any drawbacks. It also makes code (libs) smaller as far as I understood.

[2020-01-02 21:53] pstorch commented on #4
Ok, let's start with a simple version. In the meantime I'll kick off the f-droid process with a map-only 1.0 version.

[2020-01-18 22:30] dennisguse opened #6 "Segments are ignored"
OpenTracks splits a track into segments as it might happen that a track was paused for some time or the GPS signal was too bad.
In such a case, OpenTracks inserts "fake" trackpoints (i.e., PAUSE_LATITUDE or RESUME_LATITUDE).
And these are also provided to OSMDashboard and should use these as segment markers.
At the moment, these are just ignored as the coordinates are invalid.

The issue was obser

[2020-01-19 10:03] pstorch commented on #6
I'll have a look at it

[2020-01-19 15:08] #6 closed

[2020-01-24 03:52] nutpantz opened #8 "instructions on where to put offline maps"
instructions on where to put offline maps would be nice.
A directory picker so we can use internal or sd card storage would be nicer.

[2020-01-24 05:18] pstorch commented on #8
Instructions can be improved, right.

A directory chooser is available,  but only for external storage.
Do you mean you want to be able to put the files on the App internal storage? On my device it would be something like this path "/storage/emulated/0/Android/data/de.storchp.opentracks.osmplugin/files".

[2020-01-24 05:36] nutpantz commented on #8
To be honest i would like to pick the same directory that orux map uses for map files, that way i don't have to have 2 copies of the same maps.
But that is unlikely...
So instructions on how to use the directory picker (for the external sd) and where to put the maps would be adequate.

On January 24, 2020 5:18:59 AM UTC, Peter Storch <notifications@github.com> wrote:

[2020-01-24 05:43] ildar opened #9 "[CRASH] IllegalArgumentException: invalid latitude: NaN"
opening EMPTY track with an offline map
[code]

[2020-01-24 06:01] pstorch commented on #9
Thanks for the report. I can reproduce it. I'll have a look.

[2020-01-24 21:54] IzzySoft opened #10 "Crashes on start when OpenTrack is not installed"
I just installed your app on my test device (running Android 6.0.1 / LOS). It crashes right on start (when OpenTracks itself is not installed):

[code]

On a different device (running Android 8.1), it starts up fine showing a hint on the missing app. But there, that hint is even displayed after installing OpenTracks. And even when installed in "opposite order" (first OpenTracks, then the plugin).

[2020-01-24 21:59] IzzySoft opened #11 "Fastlane descriptions"
Could you please update Fastlane description?

* The `short_description` should not be longer than 80 chars, everything beyond that is truncated (see the F-Droid listing) – I'd suggest leaving the URL out there
* `full_description` could be formatted to look better. Suggestion:

[code]

While on it, some screenshots would be really helpful. I would have provided you the corresponding Fastlane tree

[2020-01-24 22:17] dennisguse commented on #10
The installation order should not be relevant as OSMDashboard actually is a separate app that gets temporary access to OpenTracks resources.
@IzzySoft do you have some more info about the device?

[2020-01-24 23:20] IzzySoft commented on #10
Sure. What details do you need for which of the two devices mentioned? For the 8.1 device, [see here](https://github.com/IzzySoft/Adebar/wiki/example-deviceInfo.md). I could generate the same for the 6.0 device (where the app crashes on) if that would help you. If you prefer the "raw data" (`dumpsys` etc), just let me know which and where to put it. I could also zip it up as [dummy device](https:/

[2020-01-25 07:30] pstorch commented on #10
That's a strange error. I don't see any hard dependencies to the main App. Let's see if we can reproduce it.

[2020-01-25 07:30] pstorch commented on #11
Thanks for reporting. I'll amend it.

[2020-01-25 08:16] jensMF opened #13 "Show more tracks?"
In OpenTracks it is possible, to select more tracks and then tap on the maps icon. The dashboard opens, but only one track is shown.
It would be great, if all tracks selected would be shown.
Then it would be neccessary to have different colors for different tracks of course …

Just an idea I would find nice.

[2020-01-25 08:20] pstorch commented on #13
Makes sense to me.

@dennisguse is it possible to add a list of track IDs to the URL?

[2020-01-25 09:04] pstorch commented on #11
@IzzySoft I would like to add some more details in the full description. Where can I find which html tags are supported? I'm searching here: https://f-droid.org/en/docs/Build_Metadata_Reference/#Description but couldn't find it.

[2020-01-25 09:30] #9 closed

[2020-01-25 09:37] pstorch commented on #10
I could reproduce it on an emulator with Android 6.0. It seems to be the opaque setting in the primary colour:

https://stackoverflow.com/questions/29166809/5-1-crash-a-taskdescriptions-primary-color-should-be-opaque

[2020-01-25 09:40] #10 closed

[2020-01-25 12:15] IzzySoft commented on #11
Not sure, I'd say "try-and-err". Think of the "sane tags" logic used in several places for user comments. Some I do know to work include:

* p
* ol, ul, li
* font color=

Javascript is certainly forbidden. (`grep`ing the source) Ah! The other way around: [forbidden HTML tags](https://gitlab.com/fdroid/fdroidserver/blob/master/fdroidserver/lint.py#L176), those two lines should answer your question

[2020-01-25 12:32] #11 closed

[2020-01-25 12:53] dennisguse commented on #13
At least showing should already the trackpoints should already be possible, as this information is transmitted as part of the TrackPointsColumns: https://github.com/OpenTracksApp/OpenTracks/blob/df502f835c585433bea6735e21bfa5c8b61a8be0/src/main/java/de/dennisguse/opentracks/content/data/TrackPointsColumns.java#L38

And also providing multiple tracks would be possible - at the moment, the URL only

[2020-01-25 12:55] IzzySoft commented on #10
Well, the important part is it no longer crashes (and thus scares new users away). Thanks for fixing it that fast, Peter!

[2020-01-25 14:11] IzzySoft commented on #11
Cool, thanks! I've just commented the diff for some minor corrections.

[2020-01-25 16:56] #8 closed

[2020-01-25 17:02] pstorch commented on #8
@nutpantz I've added some description about the offline maps and made it more visible. It's also in the README. I don't know if this is good enough. Feedback welcome.

I tried to check out orux map, but as it is a paid app, I stopped. I only saw in the app description that orux map can work with different map formats. This app is limited to Mapsforge type of maps.

[2020-01-26 23:02] jensMF commented on #13
For me it is important. But I can not tell for how many people it might be … I would use and recomment these apps, if this feature would be existent.
In the mantrailing trainings I have with my Team, it is important to have all tracks on the map, to know, where someone went, and where it is free, to plan the next/other tracks.

[2020-01-27 11:53] dennisguse commented on #13
@jensMF if you do not use the Dashboard (deinstall and use OSMAnd) that would be working (no live updates though).

@Pstorch: we could either provide more URLs (easy in OpenTracks) or provide one custom URL ( more effort in OpenTracks).
But I have no time until March....

[2020-01-27 19:24] pstorch commented on #13
I found a way to forward multiple tracks to the dashboard:
https://github.com/OpenTracksApp/OpenTracks/pull/133

The idea is to have a comma separated list of TrackIds.
@dennisguse please have a look. If this approach is ok, I could work on the dashboard to show the different tracks in different colors.

[2020-01-28 10:12] pstorch commented on #13
As a side effect: when we show multiple tracks and want to implement #4 to show some track statistics. Would that mean to calculate an overall statistic (e.g. averaging all values)?

[2020-01-28 11:26] dennisguse commented on #13
The computation is done per track.
An overall computation would need to be done in the Dashboard I guess.

[2020-01-29 19:57] pstorch commented on #13
I started to separate multiple tracks by color. At first I tried different shades of blue, but the more tracks are displayed the harder is it to distinguish. I need to put some thought into proper coloring of the tracks. Ideas welcome ;)

[2020-01-29 20:11] dennisguse commented on #13
@pstorch About the coloring; some time ago I had the same problem for a standalone web application that presents geo data.
For reference: https://github.com/dennisguse/thekarte

The actual code is here (it is JavaScript but not rocket science): https://github.com/dennisguse/TheKarte/blob/master/src/StyleColorCreator.js

[2020-01-29 21:08] pstorch commented on #13
@dennisguse nice, thanks. Copied and adapted :wink:

[2020-01-29 21:17] pstorch commented on #13
Waiting for https://github.com/OpenTracksApp/OpenTracks/pull/133

[2020-01-29 21:21] dennisguse opened #14 "Show viewing direction on map (via compass)"
Since OSMDashboard get live updates from OpenTracks showing the current viewing direction (arrow) at the current (last received from OpenTracks) position.

For the data collection, I actually plan plan to collect this data in OpenTracks.
However, it will only be stored when new GPS coordinates are received and thus might not be sufficient for a live UI (at least not via the current TrackPoint-URI

[2020-01-29 21:31] dennisguse opened #15 "Migrate to Storage Access Framework"
Storage Access Framework is the new way to access storage rather `READ_EXTERNAL_STORAGE` (deprecated as of Android 29 requiring a legacy flag).

PS: Not important / urgent; just to keep it in mind :)

[2020-01-29 21:45] pstorch commented on #15
Something I need to look into.

[2020-01-30 07:38] pstorch commented on #11
@IzzySoft the new description is live now. The paragraphs have lots of whitespace. Is there something I can do about?

![image](https://user-images.githubusercontent.com/5598124/73429406-ead23e80-433b-11ea-95d8-24a1c5287f14.png)

[2020-01-30 08:42] IzzySoft commented on #11
Urgs. Looks like the formatter still inserts a `<br>` for each line-break (not just for empty lines as I remembered it). You could try removing the wrapping `<p>`s (sorry for introducing them – that's how I did it in the past, must have missed something). Taking the initial example again:

[code]

[2020-02-04 20:46] pstorch commented on #15
Recently I wanted to import gpx files I once exported from OpenTracks (pre Storage Access Framework) from the external storage, but I wasn't able to access them anymore. Only the Documents folder and some Cloud Apps were selectable. I had to copy the old OpenTracks/gpx directory manually below Documents.
This seems very limiting. If we implement this in the Dashboard, one would not be able to reus

[2020-02-04 21:02] pstorch commented on #13
Will be possible with next release of OpenTracks + Dashboard.

[2020-02-04 21:02] #13 closed

[2020-02-04 22:43] dennisguse commented on #15
Mhh.
That should actually not be an issue - at least on my LineageOS devices everything is expected.
So, I can select all folders (internal and external storage that is user accessible) and can import export.
BUT at least in the LineageOS: the selection dialog is not that intuitive as you have to select the root directory (e.g., harddrive) via the hamburger menu.

And you can also send the files d

[2020-02-05 19:26] pstorch commented on #15
Ah, sorry. Now I see how to change to all other directories.

[2020-02-05 19:27] dennisguse commented on #15
@pstorch

[2020-02-17 17:38] dennisguse opened #16 "Crash: after leaving OSMDashboard (while OpenTracks records)"
While recording a track in OpenTracks, opening OSMDashboard.
Everything looks okay incl. live updates.

Pressing the back button navigates back to OpenTracks.
After 5-10s there is a crash report for OSMDashboard while still being in OpebTracks.

I cannot send a logcat, just a video.

OpenTracks: 3.4.0
OSMDashboard: 1.3.0

[2020-02-18 03:57] dennisguse opened #17 "Zoomlevel enhancements"
While using OSMDashboard I found some smaller things regarding the zoom level:

* limit minimal zoom to 10m: usually GPS is not that precise
* limit initial zoom level to 100m:
 I opened a newly started track ( I guess it just had one trackpoint) and the initial zoom level was less than 1m.
  I just wanted to get a quick overview of the landscape.
* while manual zooming (via pinch gesture), there

[2020-02-18 03:59] dennisguse commented on #14
While using, OSMDadhboard: this feature is really important to me. Also, we could remove the marker for the start point.

[2020-02-18 20:58] #16 closed

[2020-02-18 20:58] #17 closed

[2020-02-18 20:59] pstorch opened #18 "Continuous zoom"
Part 2 of #17

- while manual zooming (via pinch gesture), there is always a follow-up animation that seems to jump to the closest zoom level.
Could we either make then zoom continuous or limit the initial zoom animation to just use zoom levels?

[2020-02-18 21:00] pstorch commented on #17
I've moved the continuous zoom feature request to a separate issue, because this seems a bit tricky.

[2020-02-18 21:03] pstorch commented on #18
As discussed here https://github.com/mapsforge/mapsforge/issues/75, there is another mapsforge library [VTM](https://github.com/mapsforge/vtm) which renders the vector tiles with OpenGL and allows continuous zooming.

[2020-02-18 21:08] pstorch commented on #14
I still don't have a clear understanding of this feature. Do you want to have an arrow at the last trackpoint instead of a circle? Which direction should it have? Calculated from the second to last trackpoint to the last or use the live device orientation?

Removing the start circle could be easily implemented or made an optional config.

[2020-02-19 05:53] dennisguse commented on #14
Exactly: an arrow at the last trackpoint that shows the direction derieved from the compass.
However, this information cannot be retrieved from OpenTracks.
At the moment, the compass is not yet used in OpenTracks (I have it on the roadmap).
In addition, track points are (so far) only inserted (using most recent data available, but not updated.
The actual question is: which app is responsible for g

[2020-02-19 07:51] dennisguse commented on #18
Okay - that sounds like a lot of effort. And I am worried about the performance impact on low-end devices (I got a Moto xt1039; 1GB).
But using vectors would have the advantage of making the map actually configurable (showing only the things you want to see).

Long story short: I don't know.
For me, there are bigger things to fry in OpenTracks first...

[2020-02-19 09:22] pstorch commented on #14
I could read the Device orientation sensor and rotate the arrow accordingly.

[2020-02-19 14:19] dennisguse commented on #14
Or just using https://developer.android.com/reference/android/hardware/Sensor.html#TYPE_MAGNETIC_FIELD

The orientation sensor is a virtual one combining compass+acceleration+gyro.

https://developer.android.com/reference/android/hardware/Sensor.html#TYPE_ORIENTATION

Whatever is better :)

[2020-02-22 22:44] pstorch commented on #14
I've experimented a bit. Showing an arrow at the last position with the viewers direction was a bit difficult. The map was redrawing a lot and freezing from time to time. Also the viewers direction confused me a lot.
What I came up with was a ImageView on top of the map in the upper right corner showing north, like a compass rose. What do you think?

<a href="http://www.youtube.com/watch?feature=p

[2020-02-23 15:50] dennisguse commented on #14
Nice!!! That's a really cool solution! I must admit that I thought this functionality would be available in Mapsforge.

[2020-02-23 22:05] pstorch commented on #14
fixed via d35e558a1f0267eca5f137104610041832bc523f

[2020-02-23 22:05] #14 closed

[2020-02-29 17:14] pstorch commented on #15
Looks like with the current mapsforge library this is not possible. The MapFile class needs a java File object and can't work with DocumentFile nor Uri nor InputStream. :confused:

[2020-02-29 17:26] dennisguse commented on #15
Just a quick guess: MapFile accepts FileInputStream.
And you can get one from DocumentFile via
pfd = context.getContentResolver().openFileDescriptor(treeUri, "rw"); FileInputStream fis = new FileInputStream(pfd.getFileDescriptor());

Would this work?

[2020-02-29 17:56] pstorch commented on #15
Good idea, but results in a bad file descriptor:

[code]

[2020-02-29 18:21] dennisguse commented on #15
Mhh. MapsForge had a related change: https://github.com/mapsforge/mapsforge/issues/982

This added a FileChannel constructor.
And this can be derived from a FileInputStream?

[2020-02-29 18:55] pstorch commented on #15
When I get the channel from the FileInputStream I get the same error as above.

[2020-02-29 19:07] dennisguse commented on #15
:(
How are you getting the file descriptor from the DocumentFile?

[2020-02-29 19:12] pstorch commented on #15
[code]

[2020-02-29 19:13] dennisguse commented on #15
Or a filechannel can be derived from an inputstream: https://stackoverflow.com/questions/6619516/using-filechannel-to-write-any-inputstream

[2020-02-29 19:29] pstorch commented on #15
`Channels.newChannel(inputstream)` returns a `ReadableByteChannel` which is not a `FileChannel`

[2020-03-01 08:47] pstorch commented on #15
Discussion on the Mapsforge Forum: https://groups.google.com/forum/m/#!topic/mapsforge-dev/2tkZjOx8tdQ

[2020-03-01 15:48] dennisguse commented on #15
Mhhh. It sounds as if it would be feasible, but I don't know why the file descriptor is not accepted. I also did not found any alternative solution. And I don't know what the alternative would be.
@pstorch What kind of inputstream do you get using getContentResolver().openInputStream()? Could it be cast to something useful?

[2020-03-01 21:02] pstorch commented on #15
![image](https://user-images.githubusercontent.com/5598124/75633778-4841ff80-5c08-11ea-8833-761a739844dc.png)

[2020-03-01 21:45] pstorch commented on #15
I think I got it 🎉

[2020-03-02 14:50] dennisguse commented on #15
@pstorch and?

[2020-03-02 15:18] pstorch commented on #15
I could cast the InputStream to a FileInputStream and give it to MapFile. Then I had to fix something with the MapThemes as well.

[2020-03-05 06:27] dennisguse opened #19 "Slowdown while rendering larger tracks"
I have some larger tracks (several hours driving by car) and somehow I have the feeling that for larger tracks the dashboard slows down (especially while scrolling/panning).

Also while live recording (and scrolling/panning of recorded tracks), I see some flickering of the track.

In short: I guess that the whole track is always completely redrawn on invalidating the UI.
That would explain the slo

[2020-03-06 16:59] #15 closed

[2020-03-06 21:05] #19 closed

[2020-03-21 21:57] dennisguse opened #21 "Filter compass values"
The compass presentation is kind of jumpy as well as jittery.
Filtering the data might reduce this effect.

One idea would be to use:
https://stackoverflow.com/questions/7092355/smoothing-the-values-of-the-compass-on-android-devices

[2020-03-21 22:01] dennisguse opened #22 "Remove module?"
OSMDashboard is configured as a module, which is called 'app'.
However, as it is the only project in the repository we can also remove the module, right?

[2020-03-22 07:05] pstorch commented on #22
Again something I did because I always do it like that or because Android Studio did set it up like this and I don't know why.
How does it look without a module, what is the impact and is it worth the effort?

[2020-03-22 07:24] dennisguse commented on #22
Then it looks like OpenTracks - basically everything moves one folder up.
Also then only one gradle file is necessary.
So, no real advantage just less clutter :)

[2020-03-22 07:31] pstorch commented on #22
Then please go ahead, if you like 😉

[2020-04-10 19:21] dennisguse opened #24 "Use multiple offline map files in parallel"
I can only select one map file to be used for offline rendering.
For example, Germany is usually split by federal country (one map file per federal country).
If I am on a trip over crossing country borders (e.g., Berlin and Brandenburg), then I only get the map for one of them.
So, I cannot see the whole map...

Mapnik works as desired.

[2020-04-10 20:36] pstorch commented on #24
Good idea

[2020-04-10 21:46] #24 closed

[2020-04-10 22:02] dennisguse commented on #24
That was really quick!
Thanks!

[2020-04-10 22:23] #21 closed

[2020-04-10 22:23] pstorch commented on #21
@dennisguse can you check if this reduces the jumpyness on your device?

[2020-04-11 08:47] dennisguse commented on #21
Works like charm.

[2020-04-12 09:57] #22 closed

[2020-04-12 10:47] dennisguse commented on #5
Let's keep it for now.

[2020-04-12 10:47] #5 closed

[2020-04-13 13:08] franklinbill opened #26 "A Display Bug"
Dear developer
In the process of using, I found a bug in layout / display. As shown in the figure, there is an overlap between the top text title and the text of the home page, which may be an adaptation problem.
App version is 1.5.0, my mobile phone is Google nexus 6, screen resolution setting is 1440 * 2560, font size is the largest, Android system is 8.0.
The above is a description of the probl

[2020-04-13 14:20] pstorch commented on #26
Thanks for reporting this issue. I've never changed my font size, so I've never seen this.
But I can reproduce and will have a look.

[2020-04-13 14:22] franklinbill commented on #26
Thank you！

[2020-04-13 14:27] #26 closed

[2020-04-13 14:27] pstorch commented on #26
Was easy to fix, will come with next release

[2020-04-29 20:47] dennisguse opened #32 "Download offline maps from with OSMDashboard?"
Especially for less tech savy users, it would probably great to download offline maps from within OSMDashboard.
Also, I have the feeling that the initial setup of offline maps is rather complicated (not really intuitive).

Could we improve this somehow?

[2020-04-30 07:10] pstorch commented on #32
Yes, that would be a nice feature.
But not easy to implement. I remember a long discussion I was involved here: https://github.com/cgeo/cgeo/issues/6072

tl;dr:
- Only few Map providers allow direct download from within your app (OK, one would be enough for us)
- some map providers offer download links which could be captured by app intents. But these are app specific and must me aligned with each

[2020-04-30 18:42] dennisguse commented on #32
Would it be possible to show a list of potential sources (i.e., links) and if the user chooses a source, a webview could be opened.
The we could limit the navigational freedom (just go to url-subpaths) and wait for download events?
Then we would have the selected map url and could download it within OSMDashboard.

PS: Don't know exactly if this would work :)

[2020-04-30 18:55] pstorch commented on #32
That could be done with the basic mapsforge maps. Other map providers require proper themes and then we would need to direct the user to the proper themes according to the maps provider.

[2020-04-30 20:00] pstorch commented on #32
Not pretty, but you could move around in the directories and choose a map. Then we can intercept the map URI and download in the background.
![Screenshot_20200430-214758_OpenTracks_-_OSM_Dashboard](https://user-images.githubusercontent.com/5598124/80753042-e5e47d00-8b2c-11ea-9661-0e6d25e245c1.png)

Another question is where to put it?
- use the "Offline Map Directory" which we have right now: then

[2020-04-30 20:12] dennisguse commented on #32
Mhh.
I thought we use the offline map directory, but you are right.
I still like the idea to share the files between apps - so we could ask for permanent permission for one folder.

[2020-05-01 04:21] pstorch commented on #32
After thinking a while about it, it might be better to request a writable Offline Map Directory than confusing them with two different ones.

[2020-05-10 23:37] gdt opened #33 "online maps are used without consent, leaking location"
The app loads online map tiles when first started, at least if clicked form Open Tracks.  It would be nice to have a wizard that asks the user to configure offline or grant permission to load online maps, explaining that locations are sent in the API, with a link to the privacy policy of the tile servers and tile server CDN network.

(It's great that mapsforge support is there; it was easy to conf

[2020-05-11 04:02] pstorch commented on #33
The usage of the online map is explained in the app description. But not the detail, that this means leaking of the location to the map provider.
Asking for consent on first use would be more safe, yes.

Offering the user to dowload offline maps instead is related to #32

[2020-05-14 14:45] gabsoftware opened #34 "Hide OSMDashboard icon"
If OSMDashboard is just a plugin for OpenTracks, you might as well hide the icon from the app drawer.

[2020-05-14 16:27] dennisguse commented on #34
The icon just opens the start page that describes how to setup offline maps.

[2020-05-14 18:50] pstorch commented on #34
I'm also in favour of keeping the icon.

[2020-05-22 14:58] Aydan opened #35 "Use OSMAND maps for offline maps"
It would be really nice if one could use already present OSMAND maps as offline maps. No need to download maps twice.

[2020-05-24 20:19] #33 closed

[2020-06-04 08:58] rgmf opened #36 "Settings option: keep screen on"
This option would be great like in OpenTracks because if you use this option in OpenTracks and you open OSMDashboard the screen is going off.

[2020-06-04 10:16] dennisguse opened #37 "Logo..."
... we might need a new one.

I am trying to prepare some options.

[2020-06-04 15:49] pstorch commented on #36
Makes sense while recording.
@dennisguse should this setting be forwarded from OpenTracks?

[2020-06-04 17:10] dennisguse commented on #36
That's  a pretty good idea.
How can we transfer this information and do we need to handle settings updates?

Any suggestions?
I have no clue :)

[2020-06-04 17:35] pstorch commented on #36
I would try to use the Intent Extras. So we have the most current setting at every call of the Dashboard.

[2020-06-04 20:14] dennisguse commented on #36
@pstorch excellent :)
That's a pretty simple, good idea!

[2020-06-05 12:16] pstorch commented on #36
I'll look at it this weekend.

[2020-06-05 18:22] pstorch commented on #37
Do you have anything special in mind about the logo?

[2020-06-05 18:24] dennisguse commented on #37
Not really: basically adding a dark gray background to the "arrow" that looks like a map.

[2020-06-05 18:38] pstorch commented on #37
So the map not in small in front of the arrow, but as a big background?

[2020-06-05 18:50] dennisguse commented on #37
@pstorch Yes - just my Inkscape skills prevent me from doing this :)

[2020-06-05 18:51] dennisguse commented on #37
And wait: I mean not the map icon; I mean a black background (with two/three white lanes) and on top the arrow.

[2020-06-05 20:06] #36 closed

[2020-06-05 20:30] pstorch commented on #37
I'm not sure, if I understand what you have in mind. Maybe something like this?

![image](https://user-images.githubusercontent.com/5598124/83919958-07fc9b00-a77c-11ea-885c-79b1ec62161f.png)

[2020-06-05 21:36] dennisguse commented on #37
Something like that as an adaptive icon.

[2020-06-06 08:05] pstorch commented on #37
<- Reading Android adaptive icon specification

[2020-06-06 08:18] dennisguse commented on #37
https://github.com/OpenTracksApp/OpenTracks/issues/121 is related.
I have (hopefully) a fix for this issue (icon was too small and MIUI rendered it correctly).
For OSMDashboard, we would then only need to provide a second vector image as background.
https://developer.android.com/guide/practices/ui_guidelines/icon_design_adaptive?hl=en

A branch with the fixed logos is here: https://github.com/Open

[2020-06-06 21:51] pstorch commented on #32
I have a basic working version at https://github.com/OpenTracksApp/OSMDashboard/tree/download_mapsforge_maps

But while testing the download, I see that the solution to dynamically add the .map files which can be found in the offline map directory to the menu is not a good solution. It takes longer and longer and there is no possibility to delete a map file.

I think I should move them out of the

[2020-06-06 21:56] pstorch commented on #35
Unfortunately OsmAnd uses a different file format for the maps. The mapsforge library which is used in OSMDashboard cannot read them.

[2020-06-07 08:59] Aydan commented on #35
I suppose it would be too much change to use the OSMand library?

[2020-06-07 09:40] pstorch commented on #35
I'm not familiar with the OSMand library but it feels like a rewrite of the app.

[2020-06-07 12:31] gdt commented on #35
I have never had the impression that there is an "OsmAnd library" that people can just add to some other app and get rendered bits from obf files.  If there is, and it has a similar API to mapsforge, Aydan might be able to try it out.  My guess is that this is a lot of work; so far I haven't  seen other apps have osmand format support.

[2020-06-07 12:42] pstorch commented on #35
I searched a bit on the OsmAnd website (https://www.osmand.net/build_it). There is an API to extend OsmAnd App with your own logic, like a PlugIn and there is something called OsmAnd sample with this description: "OsmAnd Sample represents a possiblity to built an application on top of OsmAnd core. ". Sounds like "OsmAnd core" is a library. But I didn't look any further.

[2020-06-07 13:10] #37 closed

[2020-06-07 13:10] pstorch commented on #32
I've pushed the first working version, I'll open another ticket to rework the maps menu.

[2020-06-07 13:10] #32 closed

[2020-06-07 13:12] pstorch opened #40 "Rework Maps menu"
The menu is dynamically showing all offline maps and themes. With the new download feature this menu gets more and more crowded and slow. It also lacks a delete feature.

My idea is to extract the maps from the menu and show the map selection in a List Activity. This also solves the map reloading after checking/unchecking individual maps.

[2020-06-07 14:13] dennisguse commented on #37
Looks good!

[2020-06-10 22:28] #40 closed, assigned to pstorch

[2020-06-11 21:09] dennisguse opened #42 "Delete partially downloaded maps"
1. Go to download
2. Download any map
3. While downloading: press back
4. File is only partly downloaded, but file not erased

[2020-06-11 21:11] dennisguse opened #43 "Overwrite downloaded maps"
If a map was already downloaded and the a new map file is selected with the same name, the old file is not overwritten.
The new map is stored with a (1) suffix and thus not be available in the menu.

[2020-06-12 06:22] pstorch commented on #42
Hm, on my device the Thread continued until the file was downloaded. I guess if it takes too long Android would kill it.
What would be the expectation on back button? Stop the download + cleanup?

[2020-06-12 06:26] pstorch commented on #43
Good catch, I haven't checked the folder yet ane didn't see it. That is a problem with the Storage Access Framework. We don't create actual files but documents and the owning application of the folder has the authority about the file extension.
But I can search if this document already exist and ask the user if it should be deleted first.

[2020-06-12 06:28] dennisguse commented on #42
Sounds good to me. Even an additional dialog would be cool.
One additional hint: my phone is in battery saver mode and thus might behave differently.

[2020-06-12 08:37] pstorch opened #44 "Separate Menu items"
There are no submenus anymore. To visually separate Map and Map theme items, a divider should be shown.

[2020-06-12 08:39] pstorch commented on #44
I followed several tips from https://stackoverflow.com/questions/30625280/how-to-create-a-simple-divider-in-the-new-navigationview, but wasn't successfull.

The only thing so far are fake dividers:
![image](https://user-images.githubusercontent.com/5598124/84482881-cc406480-ac98-11ea-86b5-c0dea9869680.png)

[2020-06-12 08:41] #42 closed

[2020-06-12 08:41] #43 closed

[2020-06-12 09:12] pstorch commented on #44
Now I got it: `MenuCompat.setGroupDividerEnabled(menu, true);` was missing.

![image](https://user-images.githubusercontent.com/5598124/84486297-83d77580-ac9d-11ea-9b3c-a968fee9d967.png)

[2020-06-12 09:13] #44 closed

[2020-06-21 14:22] renegat73 opened #45 "OSMDashboard constantly crashes if using downloaded offline maps since 2.0.0"
Android 7.1.2 / Moto G4 Play 'harpia'

Since latest Version 2.0.0 installed from FDroid OSMDashboard constantly crashes on use with offline maps.

OSMDashboard offers to download offline Maps from menu.
I downloaded map for germany and tried to open a recorded track from OpenTracks.
'Offline Map Directory' was set accordingly to right location.
Error: 'OSMDashboard was closed/ended.' (Don't know e

[2020-06-21 14:28] pstorch commented on #45
Oh, how can I find out what goes wrong here?
Can you download maps manually via your Browser and point the OSMDasboard to the download directory?

Are the maps download correctly? Can you check the downloaded map? Is the size correct? Maybe you can send it to me somehow?

[2020-06-21 14:48] renegat73 commented on #45
As the downloaded maps work flawless with OSMDashboard 1.6.0 I don't think they are the cause.
They are downloaded from: [here](https://ftp-stud.hs-esslingen.de/Mirrors/download.mapsforge.org/maps/v5/europe/germany/)
Size fits (hessen.map 158MB)
Will try to download map via browser and report back...

Addenum:
Weird! After upgrading again from 1.6.0 to 2.0.0 OSMDashboard works with offline map too

[2020-06-21 15:02] gdt commented on #45
With an offline map I had downloaded earlier, 2.0.0 works fine for me.  (Just a data point.)

[2020-06-21 15:03] gdt commented on #33
Thanks very much for listening and implementing this.   In  2.0.0, I see online consent unchecked and my mapsforge map still works fine.  Changing to mapnik i get a popup with privacy policy - so this looks totally great!

[2020-06-21 15:07] pstorch commented on #45
@renegat73 so you still have problems with the 2.0.0 version?

[2020-06-21 15:10] pstorch commented on #45
@gdt downloaded maps from within the App don't work?

[2020-06-21 15:11] renegat73 commented on #45
Yes, it seems 2.0.0 looses the map directory setting on reboot.
The 'maps' setting is reset to OSM:Mapnik and the downloaded map is not shown anymore.
After re-choosing the map-directory and switching the map back to the downloaded map it works again.
Will try to save map to another location...

[2020-06-21 15:12] pstorch commented on #33
Thanks for testing and the feedback.

[2020-06-21 16:14] pstorch commented on #45
Hmm, maybe something with the Preferences. Does it make a difference if you choose the directory via the menu or if you get the directory chooser when downloading the first map.

[2020-06-21 16:56] renegat73 commented on #45
@pstorch: It does not make any difference if I choose the directory via menu or use the directory chooser.

The problem affects LineageOS 14.1,  Android 7.1.2 (Nougat) also as the stock rom google android 7.1.1 and only OSMDashboard 2.0.0
Another phone tested: Nokia 3.1 Android '9' (Pie): exact the same issue! Crashes on call from OpenTracks. The offline map is 'gone' in OSMDashboards settings aft

[2020-06-21 18:15] pstorch commented on #45
Now I could reproduce. I found something with the Uri permissions of the maps directory. I changed it to WRITE_PERMISSION and removed the READ_PERMISSION. Thought it is included, but somehow only WRITE is not persistable and vanishes after a reboot.

[2020-06-21 18:18] pstorch commented on #45
@renegat73 would be nice if you could test the debug APK: https://cloud.railway-stations.org/index.php/s/gHaHJJ9PPmzicNd

[2020-06-21 19:35] renegat73 commented on #45
@pstorch I installed the debug APK on G4 Play 'harpia' LineageOS 14.1 Android Nougat 7.1.2:
- set the maps directory and chose a map.
Called OSMDashboard from OpenTracks - works.
Rebooted: Works too now! Map Directory/Map settings are saved now, App does not crash anymore.
Will try other phones / ROMs later but issue seems to be gone now.

[2020-06-21 19:39] pstorch commented on #45
@renegat73 great, thanks for testing.

[2020-06-21 19:41] dennisguse commented on #45
@pstorch: you can also publish apks on Github - you just need to zip them first :)

[2020-06-21 20:02] pstorch commented on #45
@dennisguse good to know 🙂

[2020-06-22 21:14] #45 closed

[2020-07-10 21:05] dennisguse opened #46 "Rendering optimization?"
I just realized that OpenTracks has a performance optimization for rendering the graphs.
Precisely, not all TrackPoints are rendered, but only a very limited subset.
This speeds-up the whole rendering process and (I guess) saves some energy.

Would this also be a useful approach for OSMDashboard?
Especially for longer tracks, I have sometimes the impression that the map rendering gets rather slugg

[2020-07-11 06:48] pstorch commented on #46
Interesting. Downsampling could really improve render speed. I need to look into it and make some tests.
When I read the TrackDataHub correctly it "just" downsamples the TrackPoints evenly to have a max. of 5000 TrackPoints.
I'm thinking if another strategy like the "Trackpoint distance threshold", like described here https://www.gpsvisualizer.com/tutorials/track_filters.html would be better for a

[2020-07-11 07:37] dennisguse commented on #46
I can offer an implementation of Douglas-Peucker (already in OpenTracks but not used due to the removal of Google Maps).
It is in `LocationUtils.decimate()`.
I guess it just works - but there are no tests (yet) available.

[2020-07-11 09:31] pstorch commented on #46
The Douglas-Peucker algorithm tries to smothen the whole track. Which is applicable when the track is completed. But when the track is currently being recorded and constantly updated, I don't want to redraw the whole track over and over again, see #19.

Maybe I need two different strategies. Or smoothen the partial track when the Activity is started and use a simple distance calculation for update

[2020-07-11 10:01] dennisguse commented on #46
I forgot that we need online processing :)

What about applying Douglas-Pecker to only older parts of the track?
When you reach 1100 unsmoothed TrackPoints, apply Douglas-Pecker to 1-1000, and then repeat?

[2020-07-11 13:36] gdt commented on #46
I think that makes sense.   But rather than just "repeat", I would say that DP should exclude recent points (perhaps) time and then run only when there are old points, with a constraint that the newest point in the set being simplified is required to be kept.   Then, all points that result, except for that last one are marked as already simplified, and not eligible for reprocessing.

(I think this

[2020-07-12 08:46] pstorch commented on #46
First test works quite well with 10m tolerance. Loading 4 Tracks with 7 - 15km. The tracks look qood on the map.

[code]

That would mean I need to redraw the the polylines from time to time. At least from the last segment. Does someone really keep the Map open while recording for so long. Going back to OpenTracks and open the Dashboard again would smooth the track automatically. It would be easie

[2020-07-13 21:39] pstorch commented on #46
While working on the track smoothing I found out that I don't handle the pause TrackPoints correctly. I didn't split the polyline at those. Now I do it and see how bad my GPS reception was in the forrest with my old device. A lot of seqments :scream: :

![Screenshot_20200713-233114_OSM Dashboard for OpenTracks](https://user-images.githubusercontent.com/5598124/87355947-8873a000-c561-11ea-8170-b360

[2020-07-15 06:17] pstorch commented on #46
About smoothing while recording,  in OpenTracks there is a setting called "Recording distance interval". Default is 10m. This sounds similar to what I had in mind. But if OpenTracks already does it, maybe I should draw the TrackPoints while recording just as they come.

[2020-07-15 11:03] gdt commented on #46
People can set time/distance recording criteria various ways.  I guess if it turns out that rendering really is slow, while using recording settings people really do use., then it makes sense to optimize.

I use 1s, no distance, on my etrex30 when hiking, because I want the best track possible for mapping later, not because i really care where I was for hiking distance records.   I don't know if p

[2020-07-16 07:37] pstorch commented on #46
I think I'll do it in two steps. First the track smoothing for finished tracks and later track smoothing for currently recorded tracks (if needed). I'll open a separate issue for that to collect feedback.

[2020-07-16 07:39] pstorch opened #47 "Track smoothing / render optimization for live recorded tracks"
Follow up on https://github.com/OpenTracksApp/OSMDashboard/issues/46.

Is track smoothing needed/wanted for tracks which are currently being recorded?

[2020-07-16 07:52] #46 closed

[2020-07-16 08:04] pstorch commented on #47
Issues with smoothing of currently recorded tracks:

- Douglas-Peuker takes several TrackPoints into account, that would mean to eventually remove polylines from the current track and redraw them when new TrackPoints are send to OSMDashboard
  - a subvariant of this would be to only smooth the live track if a certain number of new TrackPoints are reached (e.g. 1000)
- A simple track smoothing algo

[2020-07-16 10:05] dennisguse commented on #47
Contains some relevant information: https://github.com/OpenTracksApp/OSMDashboard/issues/46#issuecomment-658703619

From an OpenTracks perspective: while recording, we are doing some optimization like only record locations that cross a certain distance threshold, ignore inaccurate locations etc. Under some settings, we even change the location request interval dynamically (adapt for battery live).

[2020-07-16 10:07] dennisguse opened #48 "Render waypoints"
Can we also render waypoints (the markers that a user might have created while tracking) on the map?

[2020-07-16 13:11] pstorch commented on #48
Good idea, with access to the photos. Then we need to forward the waypoints uri as well.

[2020-07-16 20:47] dennisguse commented on #48
Damn - that is an awesome idea!
The photoUrls might be a problem - we need to give access to each of them and also pass all the URLs.
I hope, we don't hit an Android internal limit on how many URLs we can pass :)

[2020-07-17 06:06] pstorch commented on #48
Grant read access to a base URL for the photos is not an option for the Dashboard, right? Because then only one additional URL would be needed.

[2020-07-17 06:17] dennisguse commented on #48
I am not sure ;)
Let's try it out - it was just a wild guess from side (should have done some research beforehand).

[2020-07-17 15:27] dennisguse commented on #48
Or we could link back to OpenTracks using App links: https://developer.android.com/studio/write/app-link-indexing
(at least to show the details/pictures of the markers)

[2020-07-17 18:22] dennisguse opened #49 "Enable picture-in-picture mode?"
i am not sure this is useful, but why not ><

https://developer.android.com/guide/topics/ui/picture-in-picture

[2020-07-17 18:35] pstorch commented on #48
Or simply call the MarkerDetailActivity via Intent?

[2020-07-17 19:07] pstorch commented on #49
@dennisguse you mean the map floating as a pip over OpenTracks? Sounds interesting :smile:

[2020-07-17 19:07] pstorch commented on #48
I'll look at it.

[2020-07-17 19:08] dennisguse commented on #49
Exactly :)
Probably not really useful, but fancy ><

[2020-07-17 19:31] dennisguse commented on #49
Works for API24+.
I just tested it with TrackListActivity ><

[code]

[code]
![Screenshot_20200717-212751_Trebuchet](https://user-images.githubusercontent.com/2820825/87824025-cda31500-c874-11ea-98ca-3ae238b6fa79.png)

[2020-07-17 21:07] pstorch commented on #48
Calling the MarkerDetailActivity from Waypoint marker on the map works like a charm. It works so good, that I wouldn't add any popup dialog in OSMDashboard and call the MarkerDetailActivity directly when tapping on the marker.

What Icon should be used? There is this blue pin from Google Maps, but I'm not sure, if the OSMDashboard should load the icon bitmaps from external URLs. Should we just sho

[2020-07-17 21:17] dennisguse commented on #48
Cool! The orange pin would be perfect. I will replace the current blue pin in OpenTracks tomorrow. I guess the color needs some fine tuning - but that's it.

[2020-07-18 17:05] dennisguse commented on #48
I left the color of the push pin as it was - we can change it later, but for now it far better than the blue one.
I just have to get used to it :)

[2020-07-18 20:43] #48 closed

[2020-07-18 20:44] dennisguse commented on #48
:1st_place_medal:

[2020-07-18 21:33] pstorch commented on #49
I'm playing around with it. Looks nice:
![Screenshot_20200718-232447](https://user-images.githubusercontent.com/5598124/87862311-d10acf00-c94e-11ea-8850-d9ccbfa58cad.jpg)

But has some quirks, e.g. map not updating while recording. I have to look into it some more if time permits.

[2020-07-19 14:04] dennisguse commented on #49
The underlying activity is paused, when entering PIP.
Could it be that this is interfering: https://github.com/OpenTracksApp/OSMDashboard/blob/3dee570baa041fc2a586b1cfbd296ff93d5088c4/src/main/java/de/storchp/opentracks/osmplugin/MapsActivity.java#L590

More details are available here: https://developer.android.com/guide/topics/ui/picture-in-picture#continuing_playback

[2020-07-22 20:45] dennisguse opened #51 "StrictMode violations: UntaggedSocketViolation"
[code]

[2020-07-22 20:46] dennisguse opened #52 "StrictMode violations: on activity startup"
[code]

[2020-07-27 16:20] dennisguse commented on #47
@pstorch This was implemented in v2.1.0, right?

[2020-07-27 16:33] pstorch commented on #47
Only for finished tracks. This Ticket is for currently recorded tracks.

[2020-07-31 07:02] pstorch opened #54 "Use fullscreen setting from OpenTracks, when recording"

[2020-08-01 07:27] dennisguse commented on #49
@pstorch Do you have a branch with your changes?
I would be interested to use this feature next while cycling :)

[2020-08-01 07:31] pstorch commented on #49
Yes, but it was not pushed yet. Now it's here: https://github.com/OpenTracksApp/OSMDashboard/tree/pip

[2020-08-01 11:10] dennisguse commented on #49
I will push some small improvements in the evening. Stay tuned ;)

[2020-08-01 21:03] dennisguse commented on #49
Tuned ><

Changes:
* hide unnecessary UI elements in PiP mode
* OpenTracks reports if the current track is recording
* OpenTracks starts Dashboard on the same stack (so, that back button works as expected).
  Otherwise the Dashboard gets it's own card in the activity switcher and when selected it gets restarted with the _original_ intent.

[2020-08-01 21:03] dennisguse commented on #49
PPS: With Android 11 the PiP window can also be resized :100:

[2020-08-05 08:19] #49 closed

[2020-08-05 09:54] #54 closed

[2020-08-05 09:58] pstorch commented on #54
@dennisguse the simple version from OpenTracks, by setting only the Window Flag FLAG_FULLSCREEN, didn't had any effect on my device. I found an example which set some SystemUiVisibility options and also hiding the Toolbar.
This then looked nice, but without the navigation bar it was is little bit hard to go back to OpenTracks. A user can swipe up to get the navigation bar back but that was a bit t

[2020-08-05 14:00] pstorch opened #57 "Fix Task/Stack"
When open the Dashboard via OpenTracks debug version once you cannot open the MainActivity anymore by clicking on the Launcher Icon. It remembers the last track and settings.
Even if you then switch to the OpenTracks release version to view another track in the Dashboard it still opens the Track from the first call via the debug version.

[2020-08-05 14:02] pstorch opened #58 "Introduce SettingsActivity"
Over time the menu grew with more and more options. Maybe it's time to introduce a SettingsActivity.

[2020-08-05 20:37] #57 closed

[2020-08-11 19:55] dennisguse opened #59 "Release v2.3.0?"
I would love to get the PiP feature :)

[2020-08-11 20:00] dennisguse opened #60 "Compass as marker?"
I really love the compass that we have!
However, the current implementation is not really useful for the PiP mode (looks kind of not really cool and that's why it is hidden; also due to the lack of space).

I have no clue how mapsforge works, but could not we mark the current position (the one that is currently marked with a red dot) similar as we put the marker(s) on the map?
I mean the marker pi

[2020-08-11 20:09] pstorch commented on #59
I haven't tested it much, but if you say it works for you, I'll glad to release it.

[2020-08-11 20:11] dennisguse commented on #59
I used the PiP mode extensively during the weekend while cycling.
Was really cool for navigation :)

[2020-08-11 20:31] pstorch commented on #60
Nice idea

[2020-08-11 20:40] pstorch commented on #59
Release tagged and playstore upload running.

[2020-08-11 20:40] #59 closed

[2020-08-13 15:01] pstorch commented on #60
@dennisguse happy testing :wink:

[2020-08-13 15:30] dennisguse commented on #60
Almost there: arrows is at the correct position and shows the traveling direction (using the last two trackpoints I guess)
But I meant to actually also use the compass orientation for this arrow (in terms of replacing the compassView).

[2020-08-13 15:40] pstorch commented on #60
Oh, then I misunderstood.
But actually I like it that way. 😁
To have both the travel direction and the view orientation.
Let me think what we can do.

[2020-08-15 10:01] rgmf opened #61 "Auto-rotate map based on your compass heading."
Do you find useful this option? So users could select between:
- North-up.
- Track-up.

[2020-08-15 10:25] pstorch commented on #60
@dennisguse ok, second try :wink:

[2020-08-15 12:25] pstorch commented on #61
That's another good feature.

[2020-08-15 18:19] pstorch commented on #61
Arrow and Map rotation together are mind blowing.
For example when the arrow points to north and the map is rotated according to the compass, should the arrow point to the real world north or the map north? Same with movement direction: should it be according the direction on the map or the real world direction?

[2020-08-15 18:40] rgmf commented on #61
What I'd like is arrow points to north in the map. I mean, arrow always points up in the screen of the phone and the map rotates. So compass will use to rotate the map but not the arrow that always points up.

But, I don't know how difficult it is and if it worth it.

[2020-08-15 19:49] dennisguse commented on #60
And it is back ;)
Just did some testing and it works great.
Only thing  the compass orientation is only updated, if you are moving (right?).
So, if you are standing still (and OpenTracks does add new TrackPoints), then the compass does not get updated.

I just tested it, holding my phone out of the window ;)
And if was only updating now and then, but not when I rotated the device.

PS: i confirmed

[2020-08-15 19:53] pstorch commented on #60
Hmm, the update is working on my device without moving. Maybe the update (redraw) works differently on different devices. Let me check. I'm also working on #61 that interferes here. So I'll work on both.

[2020-08-15 20:00] dennisguse commented on #60
No hurry - I already love the arrow (just by direction without the compass).

[2020-08-15 20:25] pstorch commented on #61
Rotating the arrow and rotating the map is technically not a problem. I just need to be sure in what direction :wink:

I have the following settings now:

1. Arrow rotation (already implemented)
  - Point to north (physically)
  - Point to moving direction

2. Map rotation
  - Static (North always on top)
  - Rotate map to physical north: if you look with your device south, map north is at bottom

[2020-08-15 21:08] rgmf commented on #61
@pstorch like in navigation GPS apps. Last week I complete an unknown route and I had to use OSMDashboard to guide me, that's why I think is useful a behaviour like navigation GPS. So here arrow is an arrow without functionality like you say.

[2020-08-16 06:08] pstorch commented on #60
@dennisguse because of the update problem: you have set the Arrow mode in the menu to "point to north", right?

[2020-08-16 06:23] dennisguse commented on #60
Yes, it was "point to north" - didn't k ow there was a setting ;)

[2020-08-16 07:57] pstorch commented on #60
Ok, that was my silent hope for the update problem. Because the direction arrow only updates on new Track point, but the north arrow should update live.

[2020-08-16 09:09] pstorch commented on #61
Ok, I guess the navigation App assumes you also hold your device in the direction you travel.
I think I will do it similar.

[2020-08-16 09:23] rgmf commented on #61
I guess so too.

[2020-08-17 12:52] pstorch opened #63 "Non-linear compass smoothing"
Extracted from here: https://github.com/OpenTracksApp/OSMDashboard/pull/62#issuecomment-674813364

We need some non-linear smoothing especially if the compass is used (arrow + map).
Especially with the compass it is pretty hard.
Trail sense has some nice smoothing: https://github.com/kylecorry31/Trail-Sense

[2020-08-17 20:31] #61 closed

[2020-08-17 20:31] #60 closed

[2020-08-23 07:09] pstorch opened #65 "Improve menu access in fullscreen mode"
In fullscreen mode the menu bar is hidden and only shown for a short period of time when the map is moved on touch. This results in the current position not centered anymore.

Make the menu bar visible on simple touch and increase the visibility timeout.

[2020-08-23 09:43] #65 closed, assigned to pstorch

[2020-09-04 21:46] dennisguse opened #67 "Dependabot?"
I activated dependabot (now with useful configuration) for OpenTracks.
Should I also do it here?

[2020-09-05 05:41] pstorch commented on #67
Sure 👍

[2020-09-05 06:34] #67 closed

[2020-09-05 06:37] dennisguse commented on #67
Follow-up thing: we don't have tests in OSMDashboard, we could still try to compile it via Github Actions.
Just to check if the dependency updates broke something.
Again: we can use same config as OpenTracks.

[2020-09-08 09:58] pstorch opened #70 "Introduce offline only variant of OSMDashboard"
From: https://github.com/OpenTracksApp/OpenTracks/issues/412#issuecomment-688513847
For users with high requirements on privacy a version of OSMDashboard without internet access would be appreciated.

Build a variant of OSMDashboard without internet permission. This can probably be achieved by a build flavor.

[2020-09-08 12:35] gdt commented on #70
Lack of internet permission would be nice, but I think the main thing has been achieved, which is no internet use without affirmative configuration.   The question of whether the user is willing to trust the app authors is a crucial one, and while I am in favor of minimal permissions, I do not generally find it safe to run code from untrustworthy sources with sandboxing.

[2020-09-08 16:43] dennisguse commented on #70
I don't know the state of other Android versions, but on my LineageOS I can disable/restrict Internet access per app. So I am okay.

[2020-09-08 19:44] pstorch commented on #70
On Samsung Stock ROM 🙈 I cannot remove internet permission per App.

[2020-09-08 19:46] pstorch commented on #70
So it's not a high priority, only a nice to have, to build an extra app without internet permission.

[2020-09-18 22:09] dennisguse opened #71 "Performance related question"
I was wondering why the zoom/pan performance is not that cool on a relatively modern device (i.e., Pixel 1) and I was then reading the MapsActivity.
I stumpled upon the TileCache and was wondering, why do we have multiple? One per layer?
We seemling only use `tileCaches.get(0)` (for actual background map).
Would we also need one for the TrackPoints?

https://github.com/OpenTracksApp/OSMDashboard/b

[2020-09-19 06:25] pstorch commented on #71
I need to look into it. I'm not that familiar with the tile cache. Probably there is something to improve.

[2020-09-19 10:55] dennisguse commented on #71
i did some digging and mapsforge renders single threaded by default.
Back in 2015 they had some trouble with multi-threading, so they disabled it by default.

More infos are here.
https://github.com/mapsforge/mapsforge/blob/02134d0085eba7aa7589817a5973829201000351/mapsforge-core/src/main/java/org/mapsforge/core/util/Parameters.java

I activated multi-threading in startup and it helps (zoom and pan

[2020-09-20 06:13] pstorch commented on #71
Hmm, as I don't have the performance issues, this will be hard to verify by me. And reading the linked issue, I fear a bit the described render issues.
Maybe as a configurable option, so it can be turned off in case it makes trouble.

[2020-09-20 07:38] dennisguse commented on #71
Then your phone is faster or the area might contain less detail. I seemingly get this issue due to the background map. Zoom/pan is not okayisch without.

And AAT sets a thread count: https://github.com/bailuk/AAT/blob/b1f2180e4d4be97e8c6f9e7e3c47e60fc20c524c/app/src/main/java/ch/bailu/aat/preferences/map/SolidRendererThreads.java

Let me create a video showing the problem as well as a complete set

[2020-09-20 08:00] pstorch commented on #71
Do you use online or offline maps?
Is map rotation activated?

[2020-09-20 08:38] dennisguse commented on #71
Offline, no rotation, post recording, and Berlin (a lot of detail in map).

[2020-09-20 18:53] pstorch commented on #71
I added multihreadding for the map rendering. I don't see a difference on my device. @dennisguse please give it a try.

[2020-09-20 19:34] pstorch commented on #71
After I tested a while I got some rendering issues (gray tiles). But it didn't matter If I enable or disable multi threadding.

[2020-09-20 20:23] pstorch commented on #71
There is also a possibility to add a StyleMenu as in https://github.com/mapsforge/mapsforge/blob/master/mapsforge-samples-android/src/main/java/org/mapsforge/samples/android/StyleMenuMapViewer.java and give the user the possibility to remove elements from the map which are not needed to be rendered.

[2020-09-28 19:39] pstorch commented on #71
@dennisguse should we release that for now?

[2020-09-30 01:01] jpschewe opened #74 "Permission to access downloads"
I have downloaded since maps through the app to my downloads folder. I went to the menu in the app and selected Map Directory, I was prompted to see my downloads directory. There is a button at the bottom of the page to allow access to downloads. I click this and I'm sent back to the main screen. I select Map Directory again and I am prompted for the permission again. Is this expected?

[2020-09-30 08:54] pstorch commented on #74
Hi @jpschewe this button is provided by your file manager. OSMDashboard is requesting access to a directory. I guess the file manager doesn't check if the access to this directory was already granted.

[2020-09-30 12:13] jpschewe commented on #74
OK, so once I have granted the permission, then the directory is set properly. Correct?

Should I see anything different in the app once I have this directory set and maps downloaded to that directory?

[2020-09-30 12:17] pstorch commented on #74
After choosing and granting access to a directory you should be able to download maps to that directory and you should see and be able to select the maps from that directory via the Maps menu.

[2020-09-30 12:38] jpschewe commented on #74
Got it, then everything is working. Thank you for your time.

[2020-09-30 12:38] #74 closed

[2020-10-07 15:01] #70 closed

[2020-10-14 11:12] pstorch commented on #70
It's available now on F-Droid: https://f-droid.org/en/packages/de.storchp.opentracks.osmplugin.offline/

[2020-10-14 16:42] pstorch commented on #34
@gabsoftware is it ok for you to close the issue?

[2020-10-14 16:44] pstorch commented on #71
@dennisguse is it ok for now?

[2020-10-14 20:53] dennisguse commented on #71
Way better!
I still have the feeling that too much happens in the UI thread, but that is just a feeling ;)
Mainly if the map is using the compass as direction.

[2020-10-14 20:54] #71 closed

[2020-10-16 05:33] #34 closed

[2020-10-16 05:35] gabsoftware commented on #34
Closed as requested.

[2020-10-16 12:53] PhantomO2 opened #79 "reduce the width of the track"
Using OSM dashboard offline. Can you please reduce the width of the blue tracks to pencil thin. These track are too bold and I have to zoom in alot to actually see the tracks. Btw, so far OSM dashboard offline is working perfectly fine. Great job guys. And thanks for making this app privacy friendly.  Pic 1:- the track that I usually get when I open track with OSM dashboard offline. PIC 2:- zoomed

[2020-10-16 14:06] pstorch commented on #79
Thanks for the feedback, I'll take a look at the stroke width.

[2020-10-16 15:16] pstorch commented on #79
@PhantomO2 what do you think about this?

![image](https://user-images.githubusercontent.com/5598124/96276153-e7b6d580-0fd2-11eb-9965-2ba453dbc5b1.png)

![image](https://user-images.githubusercontent.com/5598124/96276207-f604f180-0fd2-11eb-8880-b62d630c7cc7.png)

Even with a Map rendered, it looks better with the thinner lines. I like it.
I think I'll make it configurable, so users can set the str

[2020-10-16 18:12] dennisguse commented on #79
We can make this also dependent on the configured display size (the Android settings): https://support.google.com/accessibility/android/answer/6006972?hl=en

[2020-10-16 18:48] pstorch commented on #79
It already takes the displayScaleFactor into account.

[2020-10-16 19:38] PhantomO2 commented on #79
Awesome!!!!

[2020-10-16 20:14] #79 closed

[2020-10-18 13:01] vanous opened #80 "Accept GPX file via intent"
I am not sure if this is for Open Tracks or OSMDashboard. Probably OpenTracks could be better, to have the overview and possibility to use OSMDashboard, not sure. Let mw know, i can re-file under correct repo.

I log my tracks via my watch. This data is imported into Gadgetbridge. The produced GPX (contains subset of all collected data, such coordinates, elevation and and heart rate) can be export

[2020-10-18 15:18] pstorch commented on #80
@vanous to properly understand your use case: you don't want to import the track in OT, just view it on a map?

[2020-10-18 16:16] vanous commented on #80
Well, there might be different use-cases. I think importing to OT is better choice, so i should have probably report in OT tracker. What do you think?

[2020-10-18 16:17] pstorch commented on #80
Yes, in this case moving this issue to OT would be better.

[2020-10-18 17:14] dennisguse commented on #80
So, OpenTracks should react to GPX, KML, and KMZ intents by importing already.
Does this not work for you?
But this will import the GPX file everytime, you it is opened; deduplicate uses a UUID that is added on export by OpenTracks.
Gadgetbridge will not do this.

[2020-10-18 17:42] vanous commented on #80
Works for me with the bulk import.

Unfortunately, it processes all the files in the directory i point the importer at. Would the dedup eliminate this parsing? Probably not, because you must parse to know this file already exists in your storage. Right now i have some ~200 files in that directory and is growing fast.

This is something we probably could add, if it is part of the standard GPX forma

[2020-10-18 17:53] pstorch commented on #80
I also just tried to share a GPX Track via, Locus, File Manager and OsmAnd. OpenTracks is not available to choose as a target.

[2020-10-18 18:08] dennisguse commented on #80
@pstorch damn. I was believing that this works.
Need to take a look.
@vanous we use a custom field for this as we did not find anything in the standard. If there is, then we can migrate there.

[2020-10-22 08:42] pstorch commented on #79
@PhantomO2 have you got the update? What is your preferred stroke width setting?

[2020-10-28 19:51] PhantomO2 commented on #79
@pstorch, Mine is 2. And thanks for the update!!!

[2020-11-29 06:38] JahidFariz opened #84 "Add inbuilt compass (feature)"

[2020-11-29 07:13] dennisguse commented on #84
What do you need it for? To just see a compass: we have in OSMDashboard.
Does this fit your needs?

[2020-11-29 07:34] JahidFariz opened #85 "Make map movement animation transition smooth. (Feature and question)"

[2020-11-29 10:05] pstorch commented on #84
@JahidFariz in the menu you can set "Arrow as compass", then the arrow of your position/last trackpoint is pointing to north. You can also rotate the map to point to north.

[2020-11-29 12:05] pstorch commented on #85
@JahidFariz how is your "Recording distance interval" setting in OpenTracks? The default is 10 meters, so only after you moved 10 meters a new trackpoint is recorded and send to OSMDashboard. The the map "jumps" to the new position. You can set it down to 1 meter, then the map movement should be more smooth.

[2020-12-01 10:42] pstorch commented on #85
I think instead of "jumping" to the new trackpoint I can ask the map to animate to the new trackpoint. Need to try it.

[2020-12-01 12:27] pstorch commented on #85
@JahidFariz I found a way to animate the map movement to a new trackpoint. It's not really smooth, but it's not fully jumping anymore. Do you want to give it a try? I can build a debug APK.

[2020-12-01 18:42] JahidFariz commented on #85
Sure I'll, @pstorch

[2020-12-01 20:23] pstorch commented on #85
@JahidFariz great, here you go:

[OpenTracksOSMPlugIn-full-debug.zip](https://github.com/OpenTracksApp/OSMDashboard/files/5625244/OpenTracksOSMPlugIn-full-debug.zip)

[2021-01-19 16:31] mbnoimi opened #87 "[Feature Request] Merge with OpenTracks"
Hi,

I suggest merging both projects in a single project or at least merge the binaries in a single APK file.

I use both of OSMDashboard and OpenTracks on a daily basis, and I'm still unable to understand why both of them are separated!

[2021-01-19 16:42] gdt commented on #87
Failure to understand is not a valid argument for combining.   It seems obvious that having OpenTracks and various dashdboards separated enables innovation/choice/etc and that this sort of plug-in architecture is what many projects either do or should aspire to.

You didn't explain if you are having any kind of problem.

[2021-01-19 20:33] pstorch commented on #87
Main reason is privacy and trust.
OpenTracks collects your location. For many users this is very sensitive. To be sure this does not leak without the will of the user, OpenTracks has no internet and no file system permission.
The OSMDashboard on the other hand has no location permission. So it is really in the hands of the user what to share and which risk to take.
For some it might look paranoid,

[2021-01-20 11:54] mbnoimi commented on #87
Good point thanks for the response.

[2021-01-20 11:54] #87 closed

[2021-02-03 16:38] rogercreagh opened #90 "Use OSMand+ maps"
I have OSMAnd+ installed amd would like to use the offline maps I already have downloaded for that app. They are on SDcard in folder Android/data/net.osmand.plus/files and are in obf format.
I have tried pointing the map directory at that folder but nothing appears and it just says "you have no offline map configured yet"
Is it not possible to use OSMand maps? I'm not going to double up on downloa

[2021-02-03 17:02] pstorch commented on #90
I'm sorry, the underlying library mapsforge, which is used by this app, doesn't support the map format of OSMand+.

[2021-02-03 17:55] gdt commented on #90
Which could also be put:
  * Maybe someone (@rogercreagh perhaps :-) could submit changes to mapsforge to also support osmand format?
  * Maybe someone could write a library with the same interface as mapsforge that is like mapsforge but for osm.

As for me, mapsforge format for my region is only 0.5G, so I don't mind having that and osmand format.

[2021-02-03 19:50] rogercreagh commented on #90
Oh, that's a shame. I though from the name that it was an interface to OpenStreetMap. ca va :man_shrugging: uninstall.

[2021-02-03 19:56] rogercreagh commented on #90
[quote]Maybe someone (@rogercreagh perhaps :-) could submit changes to mapsforge to also support osmand format?[/quote]

Sorry, not worth the effort, better things to do. Its only a minor irritation, simpler just to export the track from OpenTracks direct to OSMand+. The reason for using OpenTracks is that it has much lower power implications than keeping a full mapping app recording all day. Can

[2021-02-03 19:56] #90 closed

[2021-02-03 19:56] pstorch commented on #90
Sorry for your disappointment, but it's still true, this app uses OpenStreetMap maps. But in mapsforge format not in OSMand+ Format.

[2021-02-03 21:07] dennisguse commented on #90
@rogercreagh From a power consumption perspective OSMAnd+ will be at a disadvantage.
We transfer the data as GPX or KML to other applications that do not implement the cursor-based approach like OSMDashboard.
So, OpenTracks encodes the data into a really big data structure (compared to transferring it via a database cursor) and then OSMAnd+ needs to decode the data.
In addition, you have to wait l

[2021-02-03 22:23] rogercreagh commented on #90
That was exactly my point. OpenTracks for logging is better than using OSMand+ (or any other mapping app) because they consume massive amounts of power and flatten a tablet battery in about 5hrs. My use case is not real time mapping - after all who wants to wander or pedal around the real world with their eyeballs glued to a screen.
Having got the track at the end of a day (or over lunch) I want t

[2021-02-05 19:50] pstorch commented on #84
No response, closing

[2021-02-05 19:50] #84 closed

[2021-02-05 19:51] pstorch commented on #85
It's implemented some time ago

[2021-02-05 19:51] #85 closed

[2021-02-05 19:52] pstorch commented on #47
@dennisguse do you think we still need to do something for the live recorded tracks?

[2021-02-05 21:37] dennisguse commented on #47
To be honest: don't know; cycling season starts in April again ;)
And for local hiking, I don't need a map.
So, let's close and get back to it, when it bothers us again. ><

[2021-02-05 21:37] #47 closed

[2021-02-07 15:28] pstorch opened #92 "Release 2.9.0 with new OpenTracks API v2?"
@dennisguse should I already realease OSMDashboard with support for the OpenTracks API v2?

[2021-02-07 15:30] dennisguse commented on #92
Yes!
Thanks for keeping that in mind.
Just now I am trying to figure out the GPX thing and then we could release OpenTracks mid next week.

[2021-02-07 16:09] pstorch commented on #92
Published on Google Play and tagged for F-Droid :wink:

[2021-02-07 16:09] #92 closed

[2021-03-04 21:21] dennisguse opened #94 "Release 2.10?"
2.10 was not tagged as release - any good reason?

[2021-03-05 06:55] pstorch commented on #94
Only some translations yet sind 2.9. But of course push them out as a new version. I'll do.

[2021-03-05 18:59] pstorch commented on #94
Done: https://github.com/OpenTracksApp/OSMDashboard/releases/tag/v2.10.0

[2021-03-05 18:59] #94 closed

[2021-07-24 19:35] DeSchmiddi opened #104 ".map.zip maps arent shown in the Map Menu"
I tried to extract them, to which both winrar and 7zip said that they were not zip files. So I figured, that, perhaps, I need to place them there as zip files. I installed themes, too and they are also in .zip format and not found.

Thanks in advance!

[2021-07-24 20:17] pstorch commented on #104
The app only looks for .map files it can't read/extract .map.zip files. For themes it searches for .xml files or directories which contain a .zip file with the same name as the directory.

[2021-07-24 21:28] DeSchmiddi commented on #104
.map.zip and .xml are what openandromaps gives you for maps and themes respectively.

Theme: https://www.openandromaps.org/wp-content/users/tobias/Elevate.zip
Map:https://ftp.gwdg.de/pub/misc/openstreetmap/openandromaps/mapsV4/Germany/baden-wuerttemberg.zip

It is a page that you specifically link to as a source for maps. Should I just remove the .zip, since it cant be extracted, and create an .xm

[2021-07-24 21:59] pstorch commented on #104
Hmm, strange that you cannot extract them. I can extract them with  ArchiveManager on Linux or with the Filemanager on Android. So I assume it is a valid .zip file.

I must admit that the integration with openandromaps is not very comfortable.
I'm thinking about implementing support for `mf-v4-map://`and `mf-theme://` URLs.

[2021-07-27 21:30] pstorch commented on #104
As @dennisguse pointed out, there is support for themes in .zip files in the new mapsforge library. I'll have a look into it. As far as I could see, a theme .zip file can contain several themes, so I need a selection.

I didn't see support for .map.zip, so I think the App would need to extract them to be able to use them. Let's see, what I can do. I'm interested in supporting those download URIs.

[2021-07-29 21:36] dennisguse opened #107 "[whenever] Upgrade to API31 and thus JDK11 requires F-Droid metadata changes"
See https://gitlab.com/fdroid/fdroiddata/-/issues/2441and https://gitlab.com/fdroid/fdroiddata/-/merge_requests/9462

[2021-08-03 14:59] pstorch commented on #104
Support for themes in .zip files will come with the next release.
Map .zip files are not supported by mapsforge library. I'm looking into listening on those URLs and download and extract those maps.

[2021-08-05 09:04] pstorch commented on #104
Support to download Maps and Themes directly from Mapsforge, Freizeitkarte and Openandromaps websites including the zipped map files is implemented. Coming in the next release.

[2021-08-05 09:04] #104 closed

[2021-08-05 13:42] bmrpiastc opened #108 "Crashes when typing on map directory button"
When I type on the map directory button, the app crashes. I suggest it is caused by the not allowed permission of the device storage. It can not be changed, because the application does not “want” this permission. I’ve tried it with adb, but it return the same error.
I am using android 10 and armv8.
Thanks for your support!

[2021-08-05 15:10] pstorch commented on #108
Thanks for reporting. So you have exact steps to reproduce it? Normally the app should ask for a new directory if the old one becomes unavailable.

The app doesn't require general storage permission, but asks other apps (e.g. file managers) for a directory to use.
What directory was it previously? A normal directory from the local file system, a temporary directory from an SD card or USB drive? Or

[2021-08-06 17:33] pstorch commented on #104
@DeSchmiddi do you like to give the new functionality a try? With the new version you should be able to click on the download links of OpenAndroMaps or Freizeitkarte and download the maps and themes directly with the OSMDashboard app.

Here is the debug version for testing:
https://cloud.railway-stations.org/index.php/s/iFb4Etne9STgpcp

[2021-08-06 18:12] pstorch commented on #108
@bmrpiastc reading your description again: maybe I misunderstood. Is it the first time you click on the map directory menu button in the app?

[2021-08-06 20:42] dennisguse commented on #104
@pstorch FYI: you can upload an APK to Github if you zip it. :sunglasses:

[2021-08-07 07:29] DeSchmiddi commented on #104
@pstorch I'll try it our as soon as I can, right now I am on holiday in a foreigin country with expensive roaming. Thanks very much!

[2021-08-07 13:41] bmrpiastc commented on #108
Thank you response!
As you mentioned, the OSMDashboard needs a file manager for this function. This was the problem, because I deactivated the standard files application and used Simple File Manager Pro as my file manager. This does not work for this funktion of OSMDashboard.

[2021-08-07 13:41] #108 closed

[2021-08-08 07:37] pstorch opened #109 "startActivityForResult is deprecated"
This needs some refactoring according to: https://developer.android.com/training/basics/intents/result

[2021-08-08 07:50] pstorch commented on #108
@bmrpiastc thanks for the information. That explains it. I don't know how you managed to disable the file manager app. I was not able to do it on my phone nor on any emulater I have. But I've implemented a catch for the ActivityNotFoundException. I hope the app doesn't crash anymore in this situation.

Would be nice if you can test the fix as I'm not able to reproduce it.

[OpenTracksOSMPlugIn-ful

[2021-08-08 14:02] bmrpiastc commented on #108
@pstorch thank you very much for the fix of this issue. The file you uploaded works out and reports the error “No file manager found” without crashing. On my device (LG K61 (LM-Q630EAW)) it is a little strange, because there are several “system apps” like LG Music which can not be disabled via the setting without root acess, in difference to the files application.

[2021-08-08 14:28] pstorch commented on #108
Cool, thanks for testing.

[2021-08-27 17:00] pstorch opened #111 "Upgrade to API31"
Now that #107 is solved, the target API can be upgraded to API31

[2021-08-29 15:53] pstorch commented on #111
done

[2021-08-29 15:53] #111 closed

[2021-09-04 21:23] pstorch commented on #109
fixed by cbf3e931857ec384e5629b00e1fd87c0c62249e4

[2021-09-04 21:23] #109 closed

[2021-10-31 10:43] pstorch opened #115 "NullPointerException DownloadActivity$DownloadTask"
Reported by Google Play Console:

[code]

[2021-10-31 10:45] pstorch opened #116 "NullPointerException in MapsActivity.changeArrowMode"
Reported by Google Play Console:

[code]

[2021-10-31 10:46] pstorch opened #117 "SecurityException in MapsActivity.onStart"
Reported by Google Play Console:

[code]

[2021-10-31 10:48] pstorch opened #118 "NullPointerException in MapsActivity.onWindowFocusChanged (LatLongUtils.zoomForBounds)"
Reported by Google Play Console:

[code]

[2021-10-31 11:18] #115 closed

[2021-10-31 11:18] #116 closed

[2021-10-31 11:18] #117 closed

[2021-10-31 11:18] #118 closed

[2021-11-29 21:39] pstorch commented on #4
I started to add a little bit statistic to the Map and add a share as picture function. @dennisguse, @rgmf what do you think?

![1638221672761](https://user-images.githubusercontent.com/5598124/143946809-836ab6cc-6479-4508-89bc-62ba9ab040ae.png)

It still needs some polishing and I want to add some customization to it without too much code duplication from OT.

[2021-11-30 15:21] rgmf commented on #4
I don't (still) read the code but it sounds like a great idea. I love it the feature :love_you_gesture:

[2021-11-30 18:56] dennisguse commented on #4
@pstorch Looks awesome!
i would even propose to remove this share image feature from OpenTracks then :D

[2021-12-03 23:01] rgmf opened #130 "To use the sampling rate of 0 microseconds, app needs to declare the normal permission HIGH_SAMPLING_RATE_SENSORS."
I can't use app in Android 12. Here logs:

[code]

[2021-12-04 16:45] #130 closed

[2021-12-04 16:46] pstorch commented on #130
@rgmf can you test the next nightly with provided the fix?

[2021-12-04 16:59] rgmf commented on #130
@pstorch Yes, it works ;)

[2021-12-05 13:53] pstorch commented on #4
Some basic statistic is now on the Dashboard.
Things still on my list:
- imperial/metrics
- customisation of which statistic value to show.
- customizable title?

[2021-12-05 18:28] dennisguse commented on #4
@pstorch sounds more like nice to haves :)
For the title, the activity type and track name could be shown.

[2022-01-08 15:55] gdt opened #135 "Add ability to visualize location providers"
This is a somewhat off-the-wall feature request.   I have been using MyLocation, which queries all the location providers and displays the values (lat/lon, error).   However, it doesn't show them on a map.   I suggested  this (https://github.com/mirfatif/MyLocation/issues/10) but the author doesn't want to add to the memory footprint.

So, I wonder if OSMDashboard could have a way to get an intent

[2022-01-08 16:42] Lee-Carre commented on #87
Modularity & (other) [sound design principles](http://www.catb.org/esr/writings/taoup/).

What you advocate is a major cause of software-bloat.

[2022-01-08 18:24] dennisguse commented on #135
We could use the location URI: https://developer.android.com/guide/components/intents-common.html#Maps and add additional parameters :)

[2022-01-08 21:57] pstorch commented on #135
When I see it correctly the Maps intent is already implemented by MyLocation. You can select a provider in MyLocation and open a Map application with this one location. But I guess what @gdt wants is sending a list of coordinates (with additional properties like color and error) continuously (realtime) to a Map. Like SatStat has it build in.
So something similar to what we have implemented between

[2022-01-08 22:00] pstorch commented on #135
Ah, you already asked SatStat as well: https://gitlab.com/mvglasow/satstat/-/issues/186

[2022-01-09 00:58] gdt commented on #135
Sorry, wasn't trying to be sneaky.   I know it's a small world and the Android geonerds mostly know each other....

And yes, I definitely want to see them all at once with error circles, updated.  This is not "where am I", but "how are my location providers behaving".  Which is off-mission for OpenTracks, but also sort of a debugging aid, and perhaps a path to using network location when accuracy

[2022-01-12 19:00] pstorch opened #136 "Crash in mapsforge library"
From: https://github.com/OpenTracksApp/OpenTracks/issues/1086#issuecomment-1010440926

[code]

[2022-03-04 21:10] nutpantz opened #143 "osm dashboard not an option to share track to"
Using open tracks 3.25 and osm dashboard 2.13 from fdroid on a pixel 6 with Android 12 feb update. There is no option to pick open dashboard to view my track (after picking the map icon i in the upper right screen of you rem tracks). I have the options of open tracks, gpstest, and osmand (which will show my track from open tracks). There is no option to view it in osm dashboard.

I remember pickin

[2022-03-04 21:29] pstorch commented on #143
Hi @nutpantz are you sure you use the "map" icon? This sounds more like the "share" icon. Because if OpenTracks offers you gps statues status and osmand it seems to be the track share function.
@dennisguse @rgmf any other idea?

[2022-03-04 21:30] nutpantz commented on #143
That's what i thought i did the first time share not map.. but I've tried it about 40 times since. Uninstalling both apps reinstalling and trying again

[2022-03-04 21:32] nutpantz commented on #143
Share gives me the option of open tracks and my email apps. Maps gives me open tracks, gps status and osmand

[2022-03-04 21:35] pstorch commented on #143
Very strange.
And the share button shows the same apps as option?

[2022-03-04 21:36] nutpantz commented on #143
No share button shows open  tracks and my 3 email apps.

[2022-03-04 21:41] nutpantz commented on #143
![Screenshot_20220304-134032_Settings](https://user-images.githubusercontent.com/12160507/156845547-dacc5a3b-e7f5-4346-b1a5-183a6f8df54e.png)

This might help

[2022-03-04 21:44] nutpantz commented on #143
![Screenshot_20220304-134349_Pixel Launcher](https://user-images.githubusercontent.com/12160507/156845895-a529a9dc-d608-4889-8b51-414cdb650cf7.png)

[2022-03-04 21:44] rgmf commented on #143
I don't know, it's strange because I can do it using my Pixel 4a with Android 12 (with OpenTracks 3.25 and OSM Dashboar 2.13 :thinking: )

Maybe it's related but I don't have osmand as option to open it when I tap on map option. So, @nutpantz cannot open OSM Dashboard and I cannot open osmand :open_mouth:

[2022-03-04 21:47] nutpantz commented on #143
![Screenshot_20220304-134728_Android System](https://user-images.githubusercontent.com/12160507/156846292-d2514825-df0c-4291-ba58-3012761ce0af.png)

That's what i see

[2022-03-04 21:47] pstorch commented on #143
Right, same here. I have osmand installed, but I don't get osmand offered when sharing the track. But I remember, that worked in the past.

[2022-03-04 21:50] pstorch commented on #143
Probably a strange idea, but the track name is truncated in the title bar. Can you try in landscape mode to push the map button?

[2022-03-04 21:50] nutpantz commented on #143
If i freeze osmand then it's gone but is still only have the choice of open tracks or gps status

[2022-03-04 21:51] nutpantz commented on #143
![Uploading Screenshot_20220304-135125_Android System.png…]()

[2022-03-04 21:52] nutpantz commented on #143
![Screenshot_20220304-135125_Android System](https://user-images.githubusercontent.com/12160507/156846839-9fb43c72-6dab-4225-9af8-d17ed65f90ed.png)

[2022-03-04 21:55] pstorch commented on #143
Ok, as I thought a strange idea. I guess you already tried a reboot? Sorry, I'm just guessing here at the moment.

[2022-03-04 21:57] nutpantz commented on #143
Just tried, no help

[2022-03-04 22:00] nutpantz commented on #143
If i freeze all my gps apps except open tracks i get (so the only gps app now installed is open tracks)
![Screenshot_20220304-135840_OpenTracks](https://user-images.githubusercontent.com/12160507/156847643-edeb7c0b-2ad6-461c-a7b8-11b6030c1fea.png)

[2022-03-04 22:01] nutpantz commented on #143
Wide view
![Screenshot_20220304-140128_OpenTracks](https://user-images.githubusercontent.com/12160507/156847864-cb8c2015-150e-4686-9ff3-1539bb6aba4b.png)

[2022-03-04 22:02] nutpantz commented on #143
I've got fresh download and install from fdroid for both apps.

[2022-03-04 22:06] pstorch commented on #143
Ok, thanks for trying all those options.
I'm still very puzzled. Osmand shouldn't show up there, because they don't listen on the OpenTracks dashboard API (as far as I know). But OSM Dashboard should.
What is happening here?

[2022-03-04 22:09] nutpantz commented on #143
Osmand not only shows up, but accepts the track and shows it in osmand

[2022-03-04 22:11] nutpantz commented on #143
I would say somehow open tracks is not sending dashboards api but sending a gpx file that is acceptable by gps apps.

And i know I'm picking the map icon

[2022-03-04 22:12] rgmf commented on #143
I remember I opened tracks with osmand. I'll try with other phones tomorrow... It the worst issue we can face against: it looks a completely random issue, it doesn't make any sense.

[2022-03-04 22:13] pstorch commented on #143
One more try:
Can you open the track list in OpenTracks (the main screen), then long click on a track to select it, then the map icon should show up. Does this offer OSM Dashboard?

[2022-03-04 22:17] nutpantz commented on #143
I've tried that way many times also. Still the same result. Same file name. Same everything

[2022-03-04 22:18] pstorch commented on #143
I'm sorry, for today I'm out of ideas.

[2022-03-04 22:19] nutpantz commented on #143
It is what it is. Thankfully there is snow on the ground still so it's not a huge pain

[2022-03-04 22:26] nutpantz commented on #143
![Screenshot_20220304-142510_Android System](https://user-images.githubusercontent.com/12160507/156850116-ed0458ef-c98b-4ac0-b415-69441584e66b.png)

I only got this option on the first install of osm dashboard with internet, (or that's what my memory said) I'm sure i picked gpx then
I installed osm dashboard offline and i got the option again

[2022-03-04 22:28] nutpantz commented on #143
So it's an issue with open tracks exporting the wrong format and no option to change it or a user knows it exists

[2022-03-04 22:29] nutpantz commented on #143
I have no idea how to write this up as an issue for open track. Maybe someone else can help do that

[2022-03-04 22:33] pstorch commented on #143
Ahhhhhh, now I got it.
Please go to the app info (long click on launcher icon), then Defaults/ Set as default, then clear defaults.

[2022-03-04 22:34] nutpantz commented on #143
It's strange those defaults don't get cleared when the app is uninstalled. There needs to be a link in the app.

[2022-03-04 22:34] pstorch commented on #143
When I once choose OpenTracks with gpx and choose always in the intent chooser, the I also get the same situation.

[2022-03-04 22:44] pstorch commented on #143
Looks like it's not resetted on uninstall. But I think Android remembers it internally and the app can't do anything about it.

[2022-03-04 22:46] nutpantz commented on #143
No but the app can link to the setting (I'm sure I've seen that before) in case a new user (and I've been using open tracks for 2 years) makes a mistake when that option is asked. Or maybe remove the gpx and kml options for export so that the map icon only looks for osm dashboard

[2022-04-30 13:36] dennisguse opened #145 "New release?"
Not too many changes, but I guess the mapsforge upgrade might be interesting.

[2022-04-30 13:43] pstorch commented on #145
Yeah, why not. Will do a new release.

[2022-04-30 13:47] dennisguse commented on #145
Until 5s ago I was using th Fdroid release - just switched to the nightly ;)

[2022-05-01 09:23] pstorch commented on #145
Done :heavy_check_mark:

[2022-05-01 09:23] #145 closed

[2022-05-26 20:38] dennisguse opened #151 "Upgrade to OpenTracks 4.0.0 style?"

[2022-05-27 04:59] pstorch commented on #151
Good idea

[2022-06-04 19:37] premier-lifeboat opened #155 "how to share offline maps?"
Hi
I try to re-use offline maps I already have downloaded for osmand (which are stored under /storage/emulated/0/android/data/...). Trying now to select map directory in osm dashboard offine version 2.15.0 I get a popup like
"this folder can not be used"
Permissions I can give to osm app are set. I use a FP4 with iode3 (i.e. Android v12). Is this an issue related to OS? Do you have any hints how t

[2022-06-04 20:16] premier-lifeboat commented on #155
I tried in parallel some stuff on osmand - and found in the meantime an open issue there; thus a fix might come rather from there #14165

[2022-06-04 21:56] dennisguse commented on #155
That won't work as the maps formats are different. OsmAND uses vector maps while OSMDashboard uses rendered tiles (vía maosforge).

But I don't know where the error comes from.

[2022-06-04 22:03] pstorch commented on #155
Duplicate of #90

I also found an issue on OsmAnd stating they won't support any other map format than their own: https://github.com/osmandapp/OsmAnd/issues/8308

[2022-06-05 18:58] premier-lifeboat commented on #155
thanks for swift reply - the authorization issue might come with latest Android version. But after your confirmation that both data formats will remain incompatible for now I will stick with osmand and your online version for opentracks  :-) (because so far I have no massive use for offline tracks - which might change)

[2022-06-05 18:59] #155 closed

[2022-06-05 18:59] premier-lifeboat commented on #155
thanks for swift reply - the authorization issue might come with latest Android version. But after your confirmation that both data formats will remain incompatible for now I will stick with osmand and your online version for opentracks :-) (because so far I have no massive use for offline tracks - which might change)

[2022-06-06 17:55] dennisguse commented on #26
@pstorch FYI: https://arxiv.org/pdf/2205.13945.pdf
Page 12; search for OpenTracks ;)

[2022-06-06 20:41] pstorch commented on #26
@dennisguse oh, where does this come from?

[2022-06-06 20:44] dennisguse commented on #26
Every now and then I check scholar.google.com as some people actually use OpenTracks for science :)

[2022-06-20 20:40] pstorch commented on #151
Related PRs from OpenTracks:

- https://github.com/OpenTracksApp/OpenTracks/pull/1133
- https://github.com/OpenTracksApp/OpenTracks/pull/1155

[2022-07-02 04:43] crankc opened #160 "All map tiles not displayed properly"
White squares are often displayed around the map, sometimes flashing and disappearing when moving around the map, sometimes staying, as per attached screenshot. The squares disappear again when zooming in or out.

- OSM Dashboard (offline) v2.15.0
- Pixel 5 running Android 12 (LineageOS 19.1)
- Map download source seems irrelevant, result is the same for any map or theme i could find. The map in t

[2022-07-02 06:33] pstorch commented on #160
I have that sometimes, too. Haven't figured out why this happens. Can you try to change the "Multithread map rendering" option if this changes anything on your device?

[2022-07-02 07:23] crankc commented on #160
I tried that and it makes no difference whether it's enabled or disabled. Might be a Mapsforge issue? I searched through their tickets and found nothing, though.

[2022-07-02 10:25] pstorch commented on #160
There are a few closed ones: https://github.com/mapsforge/mapsforge/issues?q=is%3Aissue+blank+tiles+is%3Aclosed

As far as I understood it could be this multithreadding, or memory issues on the device or device is busy with other tasks or a buffer size.

[2022-07-02 10:30] dennisguse commented on #160
For me this happens actually quite frequently (with/-out multithreading); somehow I got used to it (sadly).
Anyhow, issues seems to appear and also disappear during (re-)rendering (i.e., scrolling, zooming, opening menu).
Somehow mapsforge thinks it is done with rendering, but isn't.

Data is definitely okay as the tiles will be rendered later (and I only downloaded them once).

[2022-07-02 10:35] dennisguse commented on #160
@pstorch just a really quick guess: might the TileCache be an issue?
If I understood it correctly, it caches on external storage.
And is it really that useful (if the device is powerful enough)?

[2022-07-03 08:35] pstorch commented on #160
Maybe the TileCache plays a role as well.

[2022-07-03 15:30] pstorch commented on #160
Removing the TileCache is not an option, it is necessary. But there is a parameter to disable the persistence. I've added an option into the advanced menu to disable TileCache persistence. Then I've also added an option to purge the Cache. Maybe this can help in some situations as well.

Can be tested with the latest nightly:
https://fdroid.storchp.de/fdroid/repo/

At the moment it works either wa

[2022-07-03 15:36] gdt commented on #160
I'm unclear on the details so take this with  a grain of salt, but last time I looked at the OSM tile usage policy, there was  a requirement to cache with a minimum time of 7 days, or somethign like that.

[2022-07-03 15:51] pstorch commented on #160
You are right, this is applicable for the online tiles.
Maybe I should add an explanation to this option, before releasing.
But for offline maps we are completely free.
The persistent option is also only for the second level cache. So there is still the first level cache. We can also experiment with the first level cache size.

[2022-07-03 20:19] crankc commented on #160
@pstorch Unfortunately the issue persists in the nightly build, whether persistence is toggled on or off. Purging the cache flashes the white tiles away but they return almost immediately.

This occurs on both online and offline map source, it seems.

[2022-07-03 20:40] pstorch commented on #160
Hmm, ok. Thanks for testing. Need to try other options.

[2022-07-03 21:40] dennisguse commented on #160
Same for me.
Additional observations:
* no logcat messages are shown (only Dashboard started) => no error messages
* online maps:
  * it seems as if always the same tile(s) were broken (for testing Schildow; north of Berlin); only on one zoom level
  * purge cache actually reloaded everything correctly and then some tiles vanished again (on rerender?)
* offline maps
  * it seems as if always the s

[2022-07-04 19:43] pstorch commented on #160
Another try. This time the map overdraw factor is configurable in the advanced menu. Default is 1.4, but you can choose between 1 and 2. Restart the app after changing the setting.
I could find a few settings where I also get blank tiles. Let's see if you can find values which work for you without blank tiles.

[2022-07-04 19:46] dennisguse commented on #160
FYI I asked mapsforge how to debug this.
https://github.com/mapsforge/mapsforge/discussions/1331

[2022-07-04 20:00] crankc commented on #160
Setting overdraw factor to 1 - 1.30 appears to eliminate this issue on my end. The blank tiles appear between 1.40 - 2.

Am i imagining it or does overdraw factor affect rendering speed in general? It seems to load tiles when zooming faster at 1 than 2, but i might be wrong. In any case, the white squares are gone with that.

[2022-07-05 05:16] dennisguse commented on #160
For me, reducing overdraw factor seems to reduce the issue - everytime I also purged the cache, but there are still tiles that are reliably not loaded (or at least have a higher tendency).

[2022-07-05 05:22] pstorch commented on #160
@dennisguse what is the best setting for you so far?

[2022-07-05 05:23] dennisguse commented on #160
1.0

[2022-07-05 13:50] pstorch commented on #160
Interesting, the lowest value. Does it mean no overdrawing? The documentation is saying anything about this value.

[2022-07-06 09:29] pstorch commented on #160
@dennisguse can you try to run the mapsforge samples on your device and look for blank tiles?

[2022-07-09 06:49] pstorch commented on #160
@dennisguse I myself don't get the mapsforge samples to build. Another app to compare would be FitoTrack, it uses mapsforge as well.

[2022-07-09 07:35] dennisguse commented on #160
@pstorch I also had trouble - check that compileOnly points to your android.jar

A quick test yesterday was working nicely using berlin.map

[2022-07-10 09:50] pstorch commented on #160
I've just managed to run the mapsforge samples and they show the same TileCache capacity.
For a quick test I've change the code in OSMDashboard to double the TileCache capacity.

Can you @dennisguse and @crankc test this nightly build together with various overdrawFactors?

[2022-07-10 10:04] crankc commented on #160
I tested it, and i no longer get blank tiles on higher overdraw settings. I tried 1.0, 1.1, 1.6 and 2.0. No blank tiles anywhere.

[2022-07-10 10:11] pstorch commented on #160
That was fast 😀
Thanks. So it looks like we found the cause. The TileCache was to little.
I'll make it configurable and a release shortly.

[2022-07-10 14:08] dennisguse commented on #160
@pstorch can confirm as well. Just used the nightly and it works nicely :)

Well done!

[2022-07-11 19:38] pstorch commented on #160
fixed, release is on its way

[2022-07-11 19:38] #160 closed

[2022-07-31 13:20] Buntbart opened #164 "OSM Dashboard not offered in OpenTracks"
OSMDashboard is not offered to me in the menu when I tap on the map icon in OpenTracks. Only other apps that can process GPX files appear there, such as OsmAnd or c:geo, but neither OSMDashboard nor OSMDashboard (offline).
I am using the latest versions of F-Droid on LineageOS 18.1 (Android 11) without Google services installed.

[2022-07-31 13:22] dennisguse commented on #164
Settings -> User Interface (2nd) -> Select "show on map" behavior (last): is set to GPX.
Adjust it your needs.

[2022-07-31 13:22] #164 closed

[2022-07-31 13:29] Buntbart commented on #164
Found it, thank you!

[2022-08-31 04:31] cuixiaoyiyi opened #169 "Activity memory leak caused by anonymous threads"
# Possible Memory Leak
An [anonymous inner class](https://stackoverflow.com/questions/17778077/would-anonymous-handler-or-runnable-create-a-memory-leak) will hold a reference to the this pointer of the outer class and will not be released until the thread ends.
It will hold the Activity and prevent its timely release. Please check the links below.

# Occurrences
https://github.com/OpenTracksApp/OS

[2022-08-31 19:15] #169 closed

[2022-08-31 19:15] pstorch commented on #169
Thanks for reporting :+1: